/.settings/
/.classpath
/.project
/target/
META-INF/
catalina.base_IS_UNDEFINED/
nb-configuration.xml
/bin/
nbactions.xml
/application-it.yml
/application.yml
/.idea/
*.iml
/.attach_*
/application-it.yml.old
/.env
/maven/
/.sts4-cache/
