<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="15 minutes">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %p %t %c{40}.%M - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="appLog"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/pubs-services.log</File>
        <encoder>
            <pattern>%d{ISO8601} %p %t %c{40}.%M - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/wqp.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <timeBasedFileNamingAndTriggeringPolicy
            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>100MB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
    </appender>

    <appender name="ipdsLog"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/ipdsLog.log</File>
        <encoder>
            <pattern>%d{ISO8601} %p %t %c{40}.%M - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/wqp.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <timeBasedFileNamingAndTriggeringPolicy
            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            <maxFileSize>100MB</maxFileSize>
        </timeBasedFileNamingAndTriggeringPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout" />
        <appender-ref ref="appLog" />
        <appender-ref ref="ipdsLog" />
    </root>

    <logger name="gov.usgs.cida.pubs.busservice.ipds" level="INFO" appender-ref="ipdsLog" additive="false" />

    <logger name="java.sql" level="INFO" />
    <logger name="gov.usgs" level="INFO" />
    <logger name="org.apache.activemq" level="INFO" />
    <logger name="org.apache.ibatis" level="INFO" />
    <logger name="org.hibernate" level="INFO" />
    <logger name="org.mybatis" level="INFO" />
    <logger name="org.springframework.jdbc" level="INFO" />
    <logger name="org.springframework.security" level="INFO" />
    <logger name="org.springframework.transaction" level="INFO" />
    <logger name="org.springframework.web" level="INFO" />
    <logger name="org.springframework" level="INFO" />
    <logger name="springfox" level="INFO" />

    <logger name="org.springframework.jms" level="OFF" />
    <logger name="gov.usgs.cida.config.DynamicReadOnlyProperties" level="OFF" />

</configuration>
