<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
                          ">

    <import resource="classpath:/spring/mybatisContext.xml"/>

    <aop:aspectj-autoproxy/>

    <tx:annotation-driven/> 

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="gov.usgs.cida.pubs.json.ViewAwareJsonMessageConverter" />
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:default-servlet-handler/>

    <context:component-scan base-package="gov.usgs.cida.pubs.webservice"/>

    <context:annotation-config />

    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
       <!-- Note that at this time (04Dec2013) Spring does not limit the media types to those listed when using parameterName to determine 
            the requested media type and will use anything that matches */* (or in this case will give json for everything but csv).
            The value in an accept header IS respected and will throw a 406 if not in the list below.  -->
        <property name="favorPathExtension" value="false" />
        <property name="favorParameter" value="true" />
        <property name="parameterName" value="mimetype" />
        <property name="useJaf" value="false"/>
        <property name="defaultContentType" value="application/xml" />
        <property name="mediaTypes" >
            <map>
                <entry key="xml" value="application/xml" />
                <entry key="json" value="application/json" />
                <entry key="csv" value="text/csv" />
            </map>
        </property>
    </bean>
    <bean class="gov.usgs.cida.pubs.json.JsonViewSupportFactoryBean" />
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="mypubsDataSource"/>
    </bean>
    <bean id="setDbContextAspect" class="gov.usgs.cida.pubs.aop.SetDbContextAspect" autowire="byName"/>

    <import resource="classpath:/spring/webServiceContext.xml"/>

    <import resource="classpath:/spring/busServiceContext.xml"/>

    <import resource="classpath:/spring/domainContext.xml"/>

</beans>
