<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:/mybatis/dataMapperConfig.xml"/>
        <property name="dataSource" ref="mypubsDataSource"/>
    </bean>

    <bean id="mpPublicationDao" class="gov.usgs.cida.pubs.dao.mp.MpPublicationDao" autowire="byName"/>
    <bean id="mpPublicationContributorDao" class="gov.usgs.cida.pubs.dao.mp.MpPublicationContributorDao" autowire="byName"/>
    <bean id="mpPublicationCostCenterDao" class="gov.usgs.cida.pubs.dao.mp.MpPublicationCostCenterDao" autowire="byName"/>

    <bean id="contributorDao" class="gov.usgs.cida.pubs.dao.ContributorDao" autowire="byName"/>
    <bean id="contributorTypeDao" class="gov.usgs.cida.pubs.dao.ContributorTypeDao" autowire="byName"/>
    <bean id="costCenterDao" class="gov.usgs.cida.pubs.dao.CostCenterDao" autowire="byName"/>
    <bean id="publicationDao" class="gov.usgs.cida.pubs.dao.PublicationDao" autowire="byName"/>
    <bean id="publicationSeriesDao" class="gov.usgs.cida.pubs.dao.PublicationSeriesDao" autowire="byName"/>
    <bean id="publicationSubtypeDao" class="gov.usgs.cida.pubs.dao.PublicationSubtypeDao" autowire="byName"/>
    <bean id="publicationTypeDao" class="gov.usgs.cida.pubs.dao.PublicationTypeDao" autowire="byName"/>

    <bean id="ipdsMessageLogDao" class="gov.usgs.cida.pubs.dao.ipds.IpdsMessageLogDao" autowire="byName"/>
    <bean id="ipdsProcessLogDao" class="gov.usgs.cida.pubs.dao.ipds.IpdsProcessLogDao" autowire="byName"/>

    <bean id="pwPublicationDao" class="gov.usgs.cida.pubs.dao.pw.PwPublicationDao" autowire="byName"/>

</beans>
