<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="myconsole" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} - %t %p (%C.java:%L) %M - %m%n" />
		</layout>
	</appender>

	<category name="org.springframework">
		<level value="INFO"/>
	</category>

	<category name="org.hibernate">
		<level value="INFO"/>
	</category>

	<category name="gov.usgs">
		<level value="TRACE"/>
	</category>

	<category name="org.mybatis">
		<level value="DEBUG"/>
	</category>

	<category name="org.dbunit">
		<level value="INFO"/>
	</category>

	<category name="org.apache.activemq">
		<level value="INFO"/>
	</category>

	<category name="org.apache.ibatis">
		<level value="DEBUG"/>
	</category>

	<category name="java.sql">
		<level value="DEBUG"/>
	</category>

	<category name="org.springframework.transaction">
		<level value="TRACE"/>
	</category>

	<category name="gov.usgs.cida.config.DynamicReadOnlyProperties">
		<level value="OFF"/>
	</category>

	<root>
		<level value="DEBUG"/>
		<appender-ref ref="myconsole" />
	</root>

</log4j:configuration>