<?xml version="1.0"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>default</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
<!--PUBS Properties-->
        <pubs.url>jdbc:oracle:thin:@cida-eros-dbqa.er.usgs.gov:1521:citrans</pubs.url>
        <pubs.username>pubs</pubs.username>
        <pubs.password>**********</pubs.password>
        <crossref.username>crossref</crossref.username>
        <crossref.password>**********</crossref.password>
        <pubs.ipdsPubsWsPwd>**********</pubs.ipdsPubsWsPwd>
        <pubs.ipdsPubsWsUser>IPDSuser</pubs.ipdsPubsWsUser>
      </properties>
    </profile>
  </profiles>
</settings>